name: BDD Automation Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install behave requests behave-html-formatter

      - name: Run API tests
        run: |
          behave --tags=api -f behave_html_formatter:HTMLFormatter -o api_report.html

      - name: Upload HTML report
        uses: actions/upload-artifact@v4
        with:
          name: api-test-report
          path: api_report.html
